* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('https://img.freepik.com/free-vector/exams-concept-illustration_114360-2754.jpg?t=st=1731681560~exp=1731685160~hmac=22368d56b5f0ab19d820ed81f7d41d22bcb3dd67ea32809f7058e6cf6b533b18&w=1380');
  background-size: contain;
  background-position: 95% 100px;
  background-repeat: no-repeat;
  height: 600px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: rgba(0, 64, 133, 0.8);
  color: white;
  font-weight: bold;
}

.header-left h1 {
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
}

.header-right .button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.header-right .button.register {
  background-color: #28a745;
}

.header-right .button:hover {
  background-color: #0056b3;
}

.header-right .button.register:hover {
  background-color: #218838;
}

.container {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  color: #ffffff;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  margin-top: 130px;

}

.service-box {
  background-color: rgba(0, 123, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-box:hover {
  background-color: rgba(0, 86, 179, 0.9);
  transform: translateY(-3px);
}

.service-box a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}

.service-box h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.service-box p {
  font-size: 14px;
}

.homepage {
  flex-grow: 1;
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.homepage p {
  font-size: 20px;
  color: #ffffff;
  line-height: 1.5;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 64, 133, 0.8);
  color: white;
  margin-top: 60px;
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}